<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">  
<image id="Gscholar" width="28" height="28" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcEAYAAAAinQPXAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0T///////8JWPfcAAAA
CXBIWXMAAArrAAALYQFCJResAAAAB3RJTUUH4wkIDQYRoJKdNQAADHVJREFUWMPdmHtclVXWx7/r
OYeL6IEsURFEY5TwXoiaFqNmGoUew9QkG8zKWzZeSzIz0rKaajKztMQLpqVkNYKkA5ZaiKJYlqKi
AiKKSoCiqHjgnLPmjyNkEmXv2/v+Meu//Xn2s9f6rfVbl73hv1zkf3tASmxKbEosnGiZNT5rPASc
73qi6wmvceqlx/V4QAy+OHAEJEiWHJSD3rezjmUsc9yiC3WpLi17hxJOcrKwmTFZYiTmTFedxiQm
2V/0XN9gbYO10P9Qf1t/2/8jwJSIDe02tAOfOZYESwKB53zOW85bAj34O7OYNcRgB+mkDyrSfZql
We1OYOMylxuvwZMGNHArwU4VVdoaBbjSAwuNaFQcL52lk3TaPY37GMKQdZ68zAIWfDWE1+hL34pv
zJ+6z3CfAQ+cv3/Y/cP+DwAmVyU3S24GEsc0pnlO1HN6Sk9Fu+kCfV1fnz6fnexiV/snKOcc52QZ
ihPnVR0CKIpeXbm0utY1382YMQPNaU5zWw+6Si/p9dXb0p8oouZFmfzNJeaSnR86dzh6OnoyZFCu
9TXra38CwOS1SSuSVoA8SgwxN72rofSgx5yp+qHGa/zYjyjgGMc8H6k1XK4DpLVAbkycVx1jwoQJ
aEMIIUWFMkkmysTYRvJPmSkz14xTH/VXf+dn1qDB7Qe3/x8ATLYleyd7g4wlhphGzTRbd+rOt1rr
P/UtfWvMu5zjHOeM7hgYGNf8WAPIG2+8KyPpSVe65niKDxYsVZNd32V4PWqvnqR5LkfpKi2ljLKW
z1HIGc54bZCREi3RkzILIo+mHE1Z/Uzr0cF3BN8B1rbWcmv5DQDckJmcn5wP7pfcm7k3o9iWYHvc
9nhsF31ap+rUV4ZzilOcMi+oF1gTbuGWiu7SW/pIn7kx0pDTnI5vRqYsk2XVX7OFLLKMIMq4xCVp
Xvu/G4JoNCMYylB6Mpr3eb/1k5qjhVq4rK9+qMt0WffbaEswwSezZaxMkAkj7uR79rM/4xIV4iM+
YDVbC6wFdTwGGx/emLAxAXStLtJFYKu07bbt7jFe39KFunBKQ4oooug3gPnhj3/pM3KP/FX+Ou0o
l8kme/4qzRU/8dO2mqwmNf1lu7bUmTrTvFDj9JAeqhhFPCWUVIwCoom+gs7Xvbr3oXIdrn/Tvw1Y
r4f0kB7yHVZL3TxyyQ3oqEm6XtfPOsNCVrDCO5+XdKpOrZcS4Bhtv9l+M5i+Nm0xbTHfxBye5/lx
7/IdWWQ1z63NieslAH/8T3wrUTJEhoxvIAWmMaYxSyfI85IoiV7vMEC7aJfFczVKH9QH08+qVbtp
t0/OMIlhDAua7rbG7W23tyVdczRN02YO1ViN1dg3PuBLEkk8lCBNxU/88u+rdWwN0BwOcKBfEu8w
i1mRI3Wk9tbesGF88nfJ3/1snrk2EE3VT/3AkepIciSFeKmHeqpnxHd8w7d8S0AtwJoi0pYggg7O
k4Fyj9wzsZsz1NnE2WTbK8bnRBABhBFAQKc8Ha+jdNSgZ/mRPeyx9CSfPPLuhw9YxKJnU+377Tvt
O6c1ppBiiu+cxBGOctR7Dwc4xrGqHVqmZVqmFrayjW3X6D/LWc66j9Qs3aN7Rhw2OhoWw/LFw5qg
8Rpvm8IHVyOYfCU5JTkFtFyLtRhYyGIW3/0eORzmsF/XWs/VULEhXng5A2lDMMFHTup+LdTCnvOM
VCPXyJ3Vj5NkkBFymQsUUEAQ1diwGatrHVRJJZWgJ7RQC+99Qp3aSlv5NCOCAQzIvoIFb7x1ETfj
j789DhNuuNlL6jDHgQMHkMdhDncbq500XMODtjKfj/n4GopKW6KJhiB70JdBX9KTzaSRFpbGOcop
J6BO+b/EZS4bGaSxmc0PPsw2trDl1W/037pJN73yFQtYwpKHEiRDFsrCnDukE7dx2yFPru+HDWlI
Q49S+tGNbpYSdrCd7QGhXKGSyuponJRTXjFRgiRIgir6XNM/a8qja32OcsqbhpHHMY61W812ssi6
NgfvYghDoCCwYHrBdM/9FFJAQauF2Kmm+ldyzmVgS+zYsdOH6qv7KqigAvSQHtADQ0drEw3TMJ+j
DJXhMvyVcFrRmtZnluOJBx6AF2647arSU5qv+X1f1o/0E/0k0oEiSHUIDnzxrc5wnWubXS/Ai1zi
kumMrtdNuunWdD2sx/U4JFYmaqKCYXI32U12ME0yjTONc3uJKKKI8vavNfxGpUbhQfaz//bv9TmN
1djVEzlLCSW+hrwqc2TOG8PpwR3cMcUsT8goGZU1VKfpZJ38ejW55JLrE4ADO3aPIsLoSMfgLS6K
+n5RW1zqlkkzZpBU+UF+uCnHOd7Zw9kDwp8Pfyr8KTD0Xp2kk0BHaJzG6cMUc5azzoQ6HrtRcUW2
F5nsZnevm/Q5fUFfiLeSwmY2Dy023jc2G5uXu3GSMsoMdwoppLDxul9GpFG+/kNf1VcXm/RrTdO0
Pm/Vq6+G8rvIIssZKfs4wAGwm+3V9mownEuc7znfA+dg7a/9qz7iW7aytXxH7Wz4R6VGoQkDQzvQ
gAY0OG/oWS3TMnO6emqRFvn2J5i7uXtpCF24ndtXPu3KyepkVwRZRgY72OHrzWlOc9pj6W84XFHQ
OTpDZ5R9Jj8aF4wLkL4zfUf6DjDrvXqn3glV/Wz/sv2rapZ7Z/fO7p1zj+COO+5ww1StMaA5fvjl
+Ug/CZfwxI7cRTjhbp24zBWutF6LgRPn5LGEEETQxmhJlx/khylPMJZHeOTsS5qoa3Xt1PSrOf1m
vcBqHGnBgqVquQyTKInK+4JSSiiBkcdG5o7MBfOlCxVxFXHQMM9ispiAZ+hHv10XaUITmjw10TWa
Ge//rqJWtKRl3mMSJ3Nl7pjR3Ekf+kRN01d0ns4bk0YJP/GT55O157TAD78n0yVCBsiA18ZwiFxy
l0ZgwolzuJltbGWrP/UOGDV6b8IX31NlNKUTnQ7eRQvMmPmOY+SSC0b024+WPloK5LCXvcBMpjAl
4zwdaE/7giX1JneNeOGFF8h90l/6J+xmHnHEnRFdqct1+YhnKeQ4xz2frGVCFVVUAXnkk+/VXTfp
Zt38uC/bySTT8ylpJYESWPpbGl3idjWFQggkMD1HfMVd3AvbchstaPHzttpRTdbKRtkIjZ5rVNio
8Ng+iZBIifyio4sC1L321KzNVz3cjOY0LxsoXQghpGKd6yJ7Iave69PPjHDirKrkFEc40uRRPa4F
WnDLvb+b4740pWlFjoRLN+n28WVdo/Ea7/i7nJdKqfwVgIOmW5+2Pg0XG15ceXElk3mWiUyMn0EX
utDl8Jw6AH9R9UBTNVVTHz2uy1nFKs9M6Sm9pNcL2fyFNrQ5mOGKdKWvq+hUzsafAAKObpZxMk7G
xVewhkQSoxbxPXvZG+BfZ6ivETNuuAHtCSX0iwzi5bAc3ubkBVayEgZ9aJ1nnXft9utrxRmxiQ0c
GY54R/yRR4z5xgpjxcvn9Q2dq3M/8OUkJznZqKTOCPc9P/Jjr+c0Qq1q/XyyrJb1sj7h3/KmvClv
zrGRzX72NxvIGYoo8h5JKGGEeYwnm2yyBzg1VdM0rW87SimlFHO9OR9EMMH7pkpPiZCI105SoLfq
rbbPeIBAAutur//C+3nSuqR1IDNlhswwj1KbVmv19Pm6Rj/VT+Ni+YliihssqWPIz8nfmMb6Ht5Y
sFzo6XqTubSey1zkokewKxd9MimhlFLz+79C3V8ypQX++Of7yD3SW3o/MUF7a6iGbvuHLDbSjXSw
Blix8gcA1gJNSPos6TOQp+Qxecx9lJrUUGPsi/qVpmrq7B8o5id+ajqkthjd6JPF9TPu9Q5ytalM
2tCWtns+kUHykDw09TFnjDPSGbm9q2E3TIYJrHGD5w2eV7/9N/7otDxpdtJskJlMYIKcVndCCQ2f
r9s1UzNn7OU4BRT0TeYCFVR4edZWzRoq10z/Ri2gXwLzwAMP9tOYxjQuHkcbOtDhk97ygERK5IL1
GqXdtfvxHGOf0dfoC4PWWAdaB/6+3X94GPtyasr2lO3gWGYPs4cB/SVGYhpeYheb2BQepwc1V3MH
FXERQcJWsY997GuRTQjBBDcIcvVVjXL1tgshV6k3QlrSghbf9qalBEhA8mgGMoYx2a1J5WM+dsy2
5g/OG5z3R639Ex5+a2SDKel00mmgvQRIgDyrq3HgsLyo+5xfO79u0tpYbyQaiQ07aDvtrJ0dq/QZ
jdGYC7eKTexiLz2vfbSTdroSKoHSQTpw1Jo6OG1w2p9l3X+x/Afa6940zPfnVgAAACV0RVh0ZGF0
ZTpjcmVhdGUAMjAxOS0wOS0wOFQyMDowNjoxNy0wNzowMNexTsMAAAAldEVYdGRhdGU6bW9kaWZ5
ADIwMTktMDktMDhUMjA6MDY6MTctMDc6MDCm7PZ/AAAAAElFTkSuQmCC" />
</svg>
